<form action='/createsong/<%= @playlist.id %>' method="post">
    <label> Song Name: </label>
    <input type="text" name="songname" /><br>
    <br>
    <label> Artist Name: </label>
    <input type="text" name="artistname" /><br>
    <br>
    <label> Genre: </label>
    <input type="text" name="genre" /><br>
    <br>
    <input type="submit" value="Create Song" />


</form>