<form action='/createplaylist' method="post">
    <label> Playlist Name: </label>
    <input type="text" name="playlistname" /><br>
    <br>
    <input type=submit value="Create Playlist" />
</form>